
*{
    margin:0;
    padding:0;
}

/*Navegador division uno*/
body{
    background-color: white;
    font-family: 'Advent Pro', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #000;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #7E57C2;   
    border-radius: 15px;       
    border: 3px solid #7E57C2;  
  }


nav.navegadorUno{
    padding: 8px;
    top: 5px;
    background-image: linear-gradient(to left, #3B2667 10%, #7E57C2
    100%);
    
}

a.frase{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
}


div.container-fluid{
    background-color: white;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #7E57C2
}


/*Navegador division dos*/

div.section__portada img{
    width: 100%;
}

.section__portada{
    text-align: center;

}

div.divLibro{
    font-size: 4.7rem;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}



/*Division tercero*/

hr.hrUno{
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    color: #22223b;
    align-content: center;
}

section.sectionAutores table{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f2e9e4;
    padding: 20px;

}

div.divAutores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    justify-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
}

.imagenesIndex1{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}



.imagenesIndex1::before{
    content: "Franz Kafka";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex1:hover::before{
    transform: translate(0);
}

.imagenesIndex2{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imagenesIndex2::before{
    content: "Edgar Allan Poe";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex2:hover::before{
    transform: translate(0);
}

.imagenesIndex3{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imagenesIndex3::before{
    content: "Anne Rice";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex3:hover::before{
    transform: translate(0);
}


h2.segundo{
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.8rem;
    padding: 18px;
    color: black;

}

div.reboteTxt{
    font-weight: bolder;
    position: relative;

}

div.reboteTxt2{
    font-weight: bolder;
    position: relative;

}

/*animacion*/


.reboteTxt{
    animation: reboteTxt 1s 1;
}

@keyframes reboteTxt {
 
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    
    50% {
      
      transform: translateX(30px);
      opacity: 1;
    }
    
    70% {
      
      transform: translateX(-5px);
        
    }
    
  }
  

  .reboteTxt2{
    animation: reboteTxt2 1s 1;
}

@keyframes reboteTxt2 {
 
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    
    50% {
      
      transform: translateX(30px);
      opacity: 1;
    }
    
    70% {
      
      transform: translateX(-10px);
        
    }
    
  }



h2.segundo::first-letter{
    font-size: 4rem;
    color: #3B2667;
     
}

p.pLiteratura{
    background-color: #512DA8;
    color: #f2e9e4;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 12px;
}

 

/*Division cuatro*/
section.sectionRecomendados{
    background-color: #f2e9e4;
}

div.divRecomendados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    justify-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
}

.imagenesIndex4{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imagenesIndex4::before{
    content: "El Castillo";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex4:hover::before{
    transform: translate(0);


}


.imagenesIndex5{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imagenesIndex5::before{
    content: "Frankenstein";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex5:hover::before{
    transform: translate(0);

}

.imagenesIndex6{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imagenesIndex6::before{
    content: "Drácula";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a6;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.imagenesIndex6:hover::before{
    transform: translate(0);
}



h2.tercero{
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.8rem;
    padding: 18px;
    color: black;
}

h2.tercero::first-letter{
    font-size: 4rem;
    color: #3B2667;
     
}

hr.hrDos{
    border: 0;
    border-top: 2.5px solid #eae8e8;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    color: #22223b;
    align-content: center;
}

span.spanDos{
    background-color:#4a4e69;
 
}



/*Division cinco*/
div.imgPortada{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    padding: 90px;
 
}

.pOpcion{
    text-align: center;
}

.fraseEventos2{
    padding: 20px;
    padding-left: 800px;
    padding-right: 180px;
    margin-bottom: 150px;
}

 

p.pFraseTiempo{
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
 
}

.fraseEventos{
    padding-top: 150px;
    padding-left: 180px;
    padding-right: 180px;
}

/*Division seis*/
div.divBlog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

hr.hrTres{
    border: 0;
    border-top: 2.5px solid #eae8e8;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    color: #22223b;
    align-content: center;
}


img.imgBlog1{
    padding: 10px;
    transition: all 2s;
    }

img.imgBlog1:hover{
    transform: scale(0.95);
    }


img.imgBlog2{
    padding: 10px;
    transition: all 3s;
}

img.imgBlog2:hover{
    transform: scale(0.95);
    }

h2.blog{
    color: black;
    font-size: 2.8rem;
    padding-top: 70px;
    padding-left: 1.95rem;
}

h2.blog::first-letter{
    font-size: 4rem;
    color: #3B2667;
     
}


/*Division siete*/
/*Footer uno*/

section.sectionFinal{
    background-color: #4a4e69
}


div.divSiete{
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 30x;
    flex-wrap: wrap;
    color: aliceblue;
    letter-spacing: 2px;
    background-image: linear-gradient(to left, #3B2667 10%, #000 100%)
}

p.pFoot{
    text-align: center;
    padding-top: 9rem;
    color: whitesmoke;

}


.container-buttons {
    min-width: 500px;
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
    background-image: linear-gradient(to left, #3B2667 10%, #000 100%)
  }

  .container-buttons a {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    color: #FFF;
    background-color: #000;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
  }

  .container-buttons a::before {
    content: "\f09a";
    display: block;
    margin: 16px 0;
    transition: all .5s ease-in-out;
  }

  .container-buttons a:hover::before {
    margin-top: -37px;
  }
  
  .container-buttons a::after {
    content: "\f25b";
    display: block;
  }
  
  .container-buttons .fa.fa-twitter {
    background-color: #000;
  }
  
  .container-buttons .fa.fa-twitter::before {
    content: '\f099';
  }
  
  .container-buttons .fa.fa-instagram {
    background-color: #000;
  }
  
  .container-buttons .fa.fa-instagram::before {
    content: '\f16d';
  }
  
  .container-buttons .fa.fa-pinterest-p {
    background-color: #000;
  }
  
  .container-buttons .fa.fa-pinterest-p::before {
    content: '\f231';
  }
  
  .container-buttons .fa.fa-whatsapp {
    background-color: #000;
  }
  
  .container-buttons .fa.fa-whatsapp::before {
    content: '\f232';
  }
  
  .container-buttons .five {
    background-color: #000;
  }
  

a+a{
    margin-left: 10px;
}



/*libros division dos*/
div.divLibros{
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2px;
        justify-items: center;
        text-align: center;
        font-size: 1rem;
    }



p.librosLibros{
    font-size: 20px;
    color: #3B2667;
    }


div.divLiteraturaLibros{
    background-color: #3B2667;
    color: #f2e9e4;
    font-size: 20px;
    text-align: center;
    padding: 70px;  
    padding-top: 10px;
    height: 60px;
    transition: width 2s;

    animation-name: cambiarColor;
    animation-duration: 8s;

}



@keyframes cambiarColor{
    0%{
       background-color: #512DA8;
    }

    100%{
        background-color: #3B2667;
    }
}


/*pagination*/
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #FFF;
    background-color: #3B2667;
    border-color: #ddd;
}

nav.pagP1{
    margin-top: 30px;
}





/*ebooks division tres*/

div.divLiteraturaLibros{
    margin: 0px 0px 10px 0px;
}

div.divEbooks{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    justify-items: center;
    text-align: center;
    font-size: 1rem;

}



img.ebook1{
    padding: 8px;
}

img.ebook2{
    padding: 8px;
}

img.ebook3{
    padding: 8px;
}

img.ebook4{
    padding: 8px;
}

img.ebook5{
    padding: 8px;
}

img.ebook6{
    padding: 8px;
}

img.ebook7{
    padding: 8px;
}

img.ebook8{
    padding: 8px;
}

p.pEbooks{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 2rem;

}


/*eventos division cuatro*/
div.divEventos{
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
    justify-items: center;
    text-align: center;
    font-size: 0.90rem;
    padding-top: 5px;
}

/*eventos division dos*/ 

div.card{
    background-color: #3B2667;
    color: #eae8e8;
    border-color: #22223b;
    width: 60rem;
    margin-bottom: 30px;
}

p.card-text{
    font-size: 1.2rem;
}

p.pFrank{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
}

 

div.divEventosP{
    background-color: #3B2667;
    width: 100%;
    height: 6rem;
}

div.divEventos1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 30px;
}

 

div.divVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px;
    flex-wrap: wrap;
 
}

.pFraseTiempo2{
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
}

.fraseEventos2{
    padding: 20px;
    padding-left: 800px;
    padding-right: 180px;
    margin-bottom: 150px;
}

 

p.pFraseTiempo{
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
 
}

.fraseEventos{
    padding-top: 150px;
    padding-left: 180px;
    padding-right: 180px;
}



img.eventosImg1{
    margin-bottom: 10px;
    margin-right: 30px;
}

p.pEventos1{
    margin-bottom: 35px;
}


img.eventosImg2{
    margin-bottom: 10px;

}

p.pEventos2{
    margin-bottom: 35px;
}


/*sucursales division cinco*/
div.divSucursalesMapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

p.pBarra{
    font-size: 18px;
    text-align: center;
    padding: 5px;
}




/*contacto division seis*/
p.pFormulario{
    font-size: 18px;
    text-align: center;
    padding: 5px;
}


p.TextNews{
    padding-top: 40px;
    text-align: center;
    font-size: 18px;
}

  
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
form{
  padding: 60px;
  max-width: 400px;
  background-color: #3B2667;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 50px;

}

.btn{
    color: #eae8e8;
}

form input, form textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #000; 
  font-size: 1em;
  resize: none; 
}

form button {
	display: block;
	background-color: #512DA8;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: white;
    font-family: "Roboto", sans-serif;
}
form button:hover{
	background-color: #7E57C2;
}
textarea { resize: none;}

img.imgNews{
    margin-right: 125px;
}

p.TextNews{
    color: #3B2667;
}




/*Navegador general*/
body{
    font-family: 'Advent Pro', sans-serif;

}

nav.navegadorNav{
    padding: 8px;
    position: sticky;
    top: 5px;
    background-image: linear-gradient(to left, #3B2667 10%, #7E57C2
    100%);

}

a.frase{
    color: aliceblue;

}

section.sectionInicio{
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}


footer.footerSiempre{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000;
}   

.pFoot1{
    font-size: 15px;
    margin-top: 9px;
}

.footerSiempre2{
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000;
}

.pFoot2{
    font-size: 15px;
    margin-top: 9px;
}




/*media queries*/ 

@media only screen and (max-width: 768px){
    nav.navegadorUno{
        padding: 15px;
        top: 5px;
        width: 100%;
    
    }

    a.frase{
        color: aliceblue;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
    }

    p.pEbooks{
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: 1.70rem;
    
    }

    h2.segundo{
        font-size: 2.5rem;   
    }

    div.divAutores{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2px;
        justify-items: center;
        text-align: center;
        font-size: 1.2rem;
        padding: 15px;
    }

    .imagenesIndex1{
        margin-bottom: 18px;
    }

    .imagenesIndex2{
        margin-bottom: 18px;
    }

    .imagenesIndex3{
        margin-bottom: 18px;
    }

    h2.tercero{
        font-size: 2.5rem;
     }

     div.divRecomendados{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        flex-direction: column;
    
    } 

    img.imgCastillo{
        margin-bottom: 18px;
    }

    img.imgFrank{
        margin-bottom: 18px;
    }

    img.imgDracula{
        margin-bottom: 18px;
    }

    p.pFraseTiempo{
        justify-content: center;
        font-size: 1.7rem;
        text-align: center;
    }

    .fraseEventos{
        padding-top: 50px;
        padding-left: 42px;
        padding-right: 42px;
        padding-bottom: 10px;
    }


    .pFraseTiempo2{
        font-size: 1.5rem;    
    }


    .fraseEventos2{
        padding-left: 450px;
        padding-right: 0px;
    }

    h2.blog{
        font-size: 2.5rem;
    }

    img.imgBlog1{
        width: 632px;
        height: 410px;
    }

    img.imgBlog2{
        width: 632px;
        height: 410px;
    }

    p.pBlog1{
        font-size: 1.2rem;
    }

    p.pBlog2{
        font-size: 1.2rem;
    }


    p.pFoot{
        text-align: center;
        padding-top: 10rem;
        font-size: 18px;
    
    }

    p.pFoot1{
        font-size: 0.80rem;
    }


    div.divSiete{
        font-size: 0.8rem;
        height: 4rem;
    }

    p.pFoot{
        padding-top: 7.5rem;
        text-align: center;
    }


/*libros division dos*/
    div.divLibros{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-right: 15px;
        padding-left: 20px;
    }

    img.ebook1{
        width: 216px;
        height: 316px;

    }

    img.ebook6{
        width: 216px;
        height: 316px;
    }

    img.ebook7{
        width: 216px;
        height: 316px;
    }

    img.ebook8{
        width: 216px;
        height: 316px;
    }

    img.ebook5{
        width: 216px;
        height: 316px;
    }

    img.ebook9{
        width: 216px;
        height: 316px;
    }

    p.librosLibros{
        font-size: 12px;
        margin-bottom: 10px;
        }

    p.librosAutorT{
        font-size: 15px;
    }


/*ebooks division tres*/
div.divEbooks{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-right: 15px;
    padding-left: 20px;
}


img.ebook1{
    width: 216px;
    height: 316px;

}

img.ebook2{
    width: 216px;
    height: 316px;

}

img.ebook3{
    width: 216px;
    height: 316px;

}

img.ebook4{
    width: 216px;
    height: 316px;

}

img.ebook6{
    width: 216px;
    height: 316px;
}

img.ebook7{
    width: 216px;
    height: 316px;
}

img.ebook8{
    width: 216px;
    height: 316px;
}

img.ebook5{
    width: 216px;
    height: 316px;
}

img.ebook9{
    width: 216px;
    height: 316px;
}

img.ebook10{
    width: 216px;
    height: 316px;
}

img.ebook11{
    width: 216px;
    height: 316px;
}


img.ebook12{
    width: 216px;
    height: 316px;
}



h2.blog{
    margin-top: 80px;
}

/*Division eventos*/

div.divEventos{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    flex-direction: column;
    font-size: 0.8rem;
    margin: none;
    padding: none;
}

div.card{
width: 40rem;

}

div.card-body{
width: 40rem;
}

p.pFrank{
    font-size: 2.5rem;
    padding-top: 17px;
}


img.eventosImg1{
    width: 615px;
    height: 400px;
    margin: 0px;
}

img.eventosImg2{
    width: 615px;
    height: 400px;
    margin: 0px;
}


p.pEventos1{
    font-size: 0.85rem;
}

p.pEventos2{
    font-size: 0.85rem;
}



/*Division contacto*/

form.form1{
    margin-top: 40px;
    margin-bottom: 30px;
}




/*fin media query*/

}

@media only screen and (max-width: 576px){


 /*Inicio division dos*/
div.divLibro{
    font-size: 2rem;
}


 /*Inicio division tres*/

p.pLiteratura{
    font-size: 1rem;
}

h2.segundo{
    font-size: 1.7rem;
    text-align: center;

}

div.divAutores{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
    padding: 10px;
}   



img.autorKafka{
    width: 200px;
    height: 300px;
    margin-bottom: 1rem;

}

img.autorPoe{
    width: 200px;
    height: 300px;

}

img.autorAnne{
    width: 200px;
    height: 300px;

}

p.pKafka{
    font-size: 1rem;

}

p.pPoe{
    font-size: 1rem;
}

p.pAnne{
    font-size: 1rem;
}



 /*Inicio division cuatro*/
 h2.tercero{
    font-size: 1.7rem;
    text-align: center;
 }

 div.divRecomendados{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;

}  

img.imgCastillo{
    width: 200px;
    height: 300px;
    margin-bottom: 1rem;

}

img.imgFrank{
    width: 200px;
    height: 300px;
}

p.card-text{
    font-size: 15px;
}

img.imgDracula{
    width: 200px;
    height: 300px;

}

img.imgFrankEventos{
    width: 400px;
    height: 230px;
}

p.card-text{
    font-size: 15px;
}


p.pCastillo1{
    font-size: 1rem;
}
p.pCastillo2{
    font-size: 1rem;
}

p.pFrank1{
    font-size: 1rem;
}
p.pFrank2{
    font-size: 1rem;
}

p.pDracula1{
    font-size: 1rem;
}
p.pDracula2{
    font-size: 1rem;
}



/*Inicio division cinco*/
div.imgPortada{
    flex-direction: column;
    padding: 20px;

}

div.divRecomendados{
    padding: 20px;
}


/*Inicio division seis*/

h2.blog{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 35px;
}



/*Inicio division siete*/
div.divSiete{
    font-size: 0.8rem;
    height: 3rem;
}

p.pFoot{
    padding-top: 5rem;
    text-align: center;
}

.container-buttons {
    min-width: 200px;
    padding-top: 60px;
    padding-bottom: 20px;

}

.container-buttons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1rem;
 
  }

  .container-buttons a::before {
    margin: 10px 0;
  }

/*Libros*/

div.divLibros{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    flex-direction: column;
    font-size: 0.8rem;

}

div.divLibros{
    padding: 10px;

}

p.librosLibros{
    font-size: 15px;
    color: #3B2667;
    }

img.ebook1{
    width: 200px;
    height: 300px;
}

img.ebook2{
    width: 200px;
    height: 300px;
}

img.ebook3{
    width: 200px;
    height: 300px;
}

img.ebook4{
    width: 200px;
    height: 300px;
}

img.ebook5{
    width: 200px;
    height: 300px;
}

img.ebook6{
    width: 200px;
    height: 300px;
}

img.ebook7{
    width: 200px;
    height: 300px;
}

img.ebook8{
    width: 200px;
    height: 300px;
}

img.ebook9{
    width: 200px;
    height: 300px;
}






 /*Ebooks*/
div.divEbooks{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    flex-direction: column;
    font-size: 0.8rem;

}

p.pEbooks{
    text-align: center;
    justify-content: center;

    padding-bottom: 3rem;
    font-size: 1rem;
}


div.diEbooks{
    padding: 10px;

}

img.ebook1{
    width: 200px;
    height: 300px;
}

img.ebook2{
    width: 200px;
    height: 300px;
}

img.ebook3{
    width: 200px;
    height: 300px;
}

img.ebook4{
    width: 200px;
    height: 300px;
}

img.ebook5{
    width: 200px;
    height: 300px;
}

img.ebook6{
    width: 200px;
    height: 300px;
}

img.ebook7{
    width: 200px;
    height: 300px;
}

img.ebook8{
    width: 200px;
    height: 300px;
}

img.ebook10{
    width: 200px;
    height: 300px;
}


img.ebook11{
    width: 200px;
    height: 300px;
}

img.ebook12{
    width: 200px;
    height: 300px;
}



/*Eventos del mes*/
div.diVideo{
    flex-direction: column;
}

div.divVideo iframe{
    width: 500px;
    height: 300px;
    align-items: center;
}


.pFraseTiempo2{
    font-size: 0.95rem;
    padding-bottom: 4px;
}

.fraseEventos2{
    padding: 10px;
    padding-left: 170px;
    margin-bottom: 4rem;
 
}


p.pFraseTiempo{
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 50px;
    padding-top: 0.80rem;
 
}

.fraseEventos{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

div.fraseEventos{
    flex-direction: column;
   
    
}

img.eventosImg1{
    width: 395px;
    height: 260px;
    margin: 0px;
}

img.eventosImg2{
    width: 395px;
    height: 260px;
}

div.divEventos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        flex-direction: column;
        font-size: 0.8rem;
        margin: none;
        padding: none;
    }

div.card{
    width: 25rem;

}

div.card-body{
    width: 25rem;
}

p.pFrank{
    font-size: 1.60rem;
    padding-top: 10px;
}

div.divEventosP{
    height: 3.5rem;
}


p.pEventos1{
    font-size: 0.80rem;
}

p.pEventos2{
    font-size: 0.80rem;
}

div.divEventos1{
    padding: 15px;
    margin: 5px;
    margin-top: 15px;
}

/*sucursales*/

div.divLiteraturaLibros{
    height: 80px;
    padding: 18px;  
}

div.divSucursalesMapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

div.divSucursalesMapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

/*Contacto*/

div.divForm{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    font-size: 0.8rem;
    padding: none;

}

img.imgNews{
    display: none;
}
    
p.TextNews{
    padding-top: 40px;
    color: #7E57C2;
    font-size: 16px;
}

form.form1{
    margin-top: 30px;
}


/*Estilos generales*/

nav.navegadorNav{
    flex-direction: column;
    align-items: center;

}

img.facebook{
    display: none;
}

img.instagram{
    display: none;
}

img.twitter{
    display: none;
}

section.sectionInicio{
    flex-direction: column;
    align-items: center;
}

section.sectionInicio{
    font-size: 0.85rem;
}

section.primero{
    font-size: 0.85rem;
}

img.imgBlog1{
    width: 362px;
    height: 230px;
}

img.imgBlog2{
    width: 362px;
    height: 230px;
}

p.pBlog1{
    font-size: 0.85rem;
}

p.pBlog2{
    font-size:  0.85rem;
}

footer.footerSiempre{
    font-size: 0.70rem;
}

footer.footerSiempre2{
    font-size: 0.70rem;
}

p.pFoot1{
    font-size: 0.70rem;
}

p.pFoot2{
    font-size: 0.70rem;
}

p.pFoot{
    padding-top: 4.5rem;
    text-align: center;
}

div.container-buttons a{
    margin-bottom: 18px;
}



}

