nav{
    navegadorUno{
    padding: 8px;
    top: 5px;
    background-image: linear-gradient(to left, #3B2667 10%, #7E57C2
    100%);
    }
}

a{
    frase{
        color: nth($color, 1);
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

div{
    container-fluid{
        background-color: $bg-body;
    }
}